﻿
@page
@model IndexModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Império Feminino</title>
    <link rel="stylesheet" href="/css/site.css" />
</head>
<body>

    <div class="container6">
        <h2>CADASTRE-SE E CONSTRUA SEU SONHO:</h2>
        <br>
        <br>
        <form action="cadastro" method="post">
            <div class="form-group">
                <label for="Nome ">Nome:</label>
                <input type="text" name="Nome " placeholder="Nome" required>
            </div>
            <div class="form-group">
                <label for="Sobrenome">Sobrenome: </label>
                <input type="text" name="Sobrenome" placeholder="Sobrenome" required>
            </div>
            <div class="form-group">
                <label for="Número de Telefone">Número de Telefone: </label>
                <input type="tel" name="Telefone" placeholder="(xx) xxxxx-xxxx" required minlength="11" maxlength="11">
            </div>
            <div class="form-group">
                <label for="CEP">CEP: </label>
                <input type="int" name="CEP" placeholder="CEP" required minlength="8" maxlength="8">
            </div>
            <div class="form-group">
                <label for="E-mail">E-mail:</label>
                <input type="email" name="E-mail" placeholder="E-mail" required>
            </div>
            <div class="form-group">
                <label for="Senha">Senha: </label>
                <input type="password" name="Senha" placeholder="Senha" required>
            </div>

            <br>
            <br>
            <br>
            <ul class="button-group">
                <li class="list-group-item">
                    <input class="form-check-input me-1" type="checkbox" value="" id="firstCheckbox" required>
                    <label class="form-check-label" for="firstCheckbox">Para continuar, aceite os termos da nossa <a href="file:///C:/Users/021.898677/Downloads/Termos%20e%20Condi%C3%A7%C3%B5es%20de%20Uso%20do%20Imp%C3%A9rio%20Feminino.pdf">Política de Privacidade</a> </label>
                </li>
            </ul>

            <div class="form-group button">
                <a class="botao" href="">
                    <button>Entrar com google</button>
                </a>
            </div>
            <div class="form-group">
                <a class="botao" href="#">
                    <button>Entrar</button>
                </a>
                <br>
                <br>
        </form>
    </div>

</body>

</html> 