﻿
@page
@model IndexModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Império Feminino</title>
    <link rel="stylesheet" href="/css/cadastrocliente.css" />
</head>
<body>

    <!--

    
    <div class="caixa2">
        <h2>CADASTRE-SE E CONSTRUA SEU SONHO:</h2>
        <br>
        <br>
        <form action="cadastro" method="post">


            <div class="form-group">
                <label for="Nome da empresa">Nome da empresa: </label>
                <input type="text" name="Nome da empresa" placeholder="Nome da empresa" required>
            </div>

            <div class="form-group">
                <label for="Nome do proprietário">Nome do proprietário:</label>
                <input type="text" name="Nome do proprietário " placeholder="Nome do proprietário" required>
            </div>

            <div class="form-group">
                <label for="CNPJ">CNPJ: </label>
                <input type="int" name="CNPJ" placeholder="CNPJ" required minlength="14" maxlength="14">
            </div>

            <div class="form-group">
                <label for="Endereço">Endereço: </label>
                <input type="text" name="Endereço" placeholder="Endereço" required>
            </div>


            <div class="form-group">
                <label for="Tipo de empresa">Tipo de empresa:</label>
                <select id="tipo de empresa" name="Tipo de empresa" required>
                    <option value="">Selecione</option>
                    <option value="MEI">MEI (Microempreendedor Individual)</option>
                    <option value="EIRELI">EIRELI (Empresa Individual de Responsabilidade Limitada)</option>
                    <option value="LTDA">LTDA (Sociedade Limitada)</option>
                    <option value="SA">SA (Sociedade Anônima)</option>
                </select>
            </div>

            <div class="form-group">
                <label for="E-mail">E-mail:</label>
                <input type="email" name="E-mail" placeholder="E-mail" required>
            </div>


            <div class="form-group">
                <label for="telefone">Telefone:</label>
                <input type="text" class="form-control" id="telefone" name="telefone" placeholder="Telefone" />
            </div>

            <script>
                $(document).ready(function () {
                    $('#telefone').mask('(00) 00000-0000');
                });
            </script>

            <div class="form-group">
                <label for="Senha">Senha: </label>
                <input type="password" name="Senha" placeholder="Senha" required>
            </div>

            <div class="form-group">
                <label for="Senha">Confirmar senha: </label>
                <input type="password" name="Senha" placeholder="Senha" required>
            </div>
            <br>
            <br>
            <br>
            <br>
            <ul class="button-group">
                <input class="form-check-input me-1" type="checkbox" value="" id="firstCheckbox" required>
                <label class="form-check-label" for="firstCheckbox">Para continuar, aceite os termos da nossa <a href="/Privacidade">Política de Privacidade</a> </label>
            </ul>

            <div class="entrar">
                <a href="/HomeEmpresa"
                    <button>
                      <div class="txtbt"> Entrar </div>
                    </button>
                </a>
            </div>

            
            <br>
            <br>
        </form>
    </div>
    -->

    <div class="container4">
        <h2>Cadastro de Empresa</h2>
        <form action="/cadastro" method="post">

            <div class="form-row">
                <div class="form-group">
                    <label for="nome-empresa">Nome da empresa:</label>
                    <input type="text" id="nome-empresa" name="nome-empresa" placeholder="Nome da empresa" required>
                </div>

                <div class="form-group">
                    <label for="nome-proprietario">Nome do proprietário:</label>
                    <input type="text" id="nome-proprietario" name="nome-proprietario" placeholder="Nome do proprietário" required>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    <label for="cnpj">CNPJ:</label>
                    <input type="text" id="cnpj" name="cnpj" placeholder="CNPJ" required minlength="14" maxlength="14">
                </div>

                <div class="form-group">
                    <label for="endereco">Endereço:</label>
                    <input type="text" id="endereco" name="endereco" placeholder="Endereço" required>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    <label for="tipo-empresa">Tipo de empresa:</label>
                    <select id="tipo-empresa" name="tipo-empresa" required>
                        <option value="">Selecione</option>
                        <option value="MEI">MEI (Microempreendedor Individual)</option>
                        <option value="EIRELI">EIRELI (Empresa Individual de Responsabilidade Limitada)</option>
                        <option value="LTDA">LTDA (Sociedade Limitada)</option>
                        <option value="SA">SA (Sociedade Anônima)</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="email">E-mail:</label>
                    <input type="email" id="email" name="email" placeholder="E-mail" required>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    <label for="telefone">Telefone:</label>
                    <input type="text" id="telefone" name="telefone" placeholder="Telefone" required>
                </div>

                <div class="form-group">
                    <label for="senha">Senha:</label>
                    <input type="password" id="senha" name="senha" placeholder="Senha" required>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    <label for="confirmar-senha">Confirmar senha:</label>
                    <input type="password" id="confirmar-senha" name="confirmar-senha" placeholder="Confirmar senha" required>
                </div>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="termos" required>
                <label class="form-check-label" for="termos">
                    Para continuar, aceite os termos da nossa <a href="/privacidade">Política de Privacidade</a>
                </label>
            </div>

            <div class="entrar">
                <button type="submit">Cadastrar</button>
            </div>

        </form>
    </div>
</body>

</html>

















