﻿
@page
@model IndexModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Império Feminino</title>
    <link rel="stylesheet" href="/css/cadastrocliente.css" />
</head>
<body>
    <div class="caixa2">
        <h2>CADASTRE-SE E CONSTRUA SEU SONHO:</h2>
        <br>
        <br>
        <form action="cadastro" method="post">


            <div class="form-group">
                <label for="Nome da empresa">Nome da empresa: </label>
                <input type="text" name="Nome da empresa" placeholder="Nome da empresa" required>
            </div>

            <div class="form-group">
                <label for="Nome do proprietário">Nome do proprietário:</label>
                <input type="text" name="Nome do proprietário " placeholder="Nome do proprietário" required>
            </div>

            <div class="form-group">
                <label for="CNPJ">CNPJ: </label>
                <input type="int" name="CNPJ" placeholder="CNPJ" required minlength="14" maxlength="14">
            </div>

            <div class="form-group">
                <label for="Endereço">Endereço: </label>
                <input type="text" name="Endereço" placeholder="Endereço" required>
            </div>


            <div class="form-group">
                <label for="Tipo de empresa">Tipo de empresa:</label>
                <select id="tipo de empresa" name="Tipo de empresa" required>
                    <option value="">Selecione</option>
                    <option value="MEI">MEI (Microempreendedor Individual)</option>
                    <option value="EIRELI">EIRELI (Empresa Individual de Responsabilidade Limitada)</option>
                    <option value="LTDA">LTDA (Sociedade Limitada)</option>
                    <option value="SA">SA (Sociedade Anônima)</option>
                </select>
            </div>

            <div class="form-group">
                <label for="E-mail">E-mail:</label>
                <input type="email" name="E-mail" placeholder="E-mail" required>
            </div>


            <div class="form-group">
                <label for="telefone">Telefone:</label>
                <input type="text" class="form-control" id="telefone" name="telefone" placeholder="Telefone" />
            </div>

            <script>
                $(document).ready(function () {
                    $('#telefone').mask('(00) 00000-0000');
                });
            </script>

            <div class="form-group">
                <label for="Senha">Senha: </label>
                <input type="password" name="Senha" placeholder="Senha" required>
            </div>

            <div class="form-group">
                <label for="Senha">Confirmar senha: </label>
                <input type="password" name="Senha" placeholder="Senha" required>
            </div>
            <br>
            <br>
            <br>
            <br>
            <ul class="button-group">
                <input class="form-check-input me-1" type="checkbox" value="" id="firstCheckbox" required>
                <label class="form-check-label" for="firstCheckbox">Para continuar, aceite os termos da nossa <a href="https://docs.google.com/document/d/1BF11jmBGxfSpKqAQ3_uRba1R9Aq9b0tw2F2rgklPN5M/edit?usp=sharing">Política de Privacidade</a> </label>
            </ul>

            <div class="entrar">
                <a href="/HomeEmpresa"
                    <button>
                      <div class="txtbt"> Entrar </div>
                    </button>
                </a>
            </div>

            
            <br>
            <br>
        </form>
    </div>
   
</body>

</html>

















