@page
@model IndexModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calçados</title>
    <link rel="stylesheet" href="/css/vestuario.css" />
</head>
<body>
    <div id="carouselExampleDark" class="carousel carousel-dark slide">

        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
                <img src="~/imagens/bannerspatos.jpg" class="d-block w-100" alt="...">
            </div>
        </div>

    </div>

    <br />
    <br />
    <h3>Navegue pelas categorias</h3>

    <div class="container-categorias">
        <form class="cat">
            <div class="categoria">
                <a href="/">
                    <img src="~/imagens/iconsalto.jpg" class="womanc" alt="...">
                </a>
                <p>Feminino</p>
            </div>

            <div class="categoria">
                <a href="/">
                    <img src="~/imagens/iconsapato.jpg" class="womanc" alt="...">
                </a>
                <p>Masculino</p>
            </div>

            <div class="categoria">
                <a href="/">
                    <img src="~/imagens/iconbebe.jpg" class="womanc" alt="...">
                </a>
                <p>Infantil</p>
            </div>

        </form>
    </div>
    <br />
    <br />
    <div class="container">
        <h3>Novas lojas para você!</h3>
        <div class="patrocinadores">


            <div class="patrocinador">
                <img src="~/imagens/amelia.jpg" alt="Patrocinador 1">
                <p>Amelia</p>
            </div>


            <div class="patrocinador">
                <a href="/PeAmostrado">
                    <img src="~/imagens/peamostrado.jpg" alt="Patrocinador 2">
                </a>
                <p>Pé Amostrado</p>
            </div>


            <div class="patrocinador">
                <img src="~/imagens/uzze.jpg" alt="Patrocinador 3">
                <p>Muzze Calçados</p>
            </div>


            <div class="patrocinador">
                <img src="~/imagens/planetshoes.jpg" alt="Patrocinador 4">
                <p>Planet Shoes</p>
            </div>
        </div>
    </div>
    <br />
    <br />

    <h3>Em alta</h3>
    <section class="marketplace-section">
        <div class="item">
            <img src="~/imagens/scarpin.jpg" alt="Produto 1">
            <img src="~/imagens/maheart.png" alt="heart" class="heart-icon">
            <p class="tituloItem">Scarpin Preto Salto Alto Fino Detalhe X Napa Branco ER307</p>
            <h3>R$ 170,00</h3>
        </div>

        <div class="item">
            <a href="/Produto">
                <img src="~/imagens/scarpin2.jpg" alt="Produto 2">
            </a>
            <img src="~/imagens/maheart.png" alt="heart" class="heart-icon">
            <p class="tituloItem">Sobressalto Salto Fino Baixo Verniz</p>
            <h3>R$ 105,00</h3>
        </div>

        <div class="item">
            <img src="~/imagens/tornozeleira.jpg" alt="Produto 3">
            <img src="~/imagens/maheart.png" alt="heart" class="heart-icon">
            <p class="tituloItem">Sapatos femininos Sandálias de tiras no tornozelo com salto grosso em camurça sintética para formatura</p>
            <h3>R$ 150,00</h3>
        </div>

        <div class="item">
            <img src="~/imagens/maryjanes.jpg" alt="Produto 1">
            <img src="~/imagens/maheart.png" alt="heart" class="heart-icon">
            <p class="tituloItem">Sapato Feminino modelo 'Mary Janes', Tamanho Pequeno</p>
            <h3>R$ 90,00</h3>
        </div>

        <div class="item">
            <img src="~/imagens/sapatilhafem.jpg" alt="Produto 2">
            <img src="~/imagens/maheart.png" alt="heart" class="heart-icon">
            <p class="tituloItem">Sapatilha Feminina Com Fivela Boneca Bico Redondo Preta</p>
            <h3>R$ 85,00</h3>
        </div>

        <div class="item">
            <img src="~/imagens/peeptoe.jpg" alt="Produto 3">
            <img src="~/imagens/maheart.png" alt="heart" class="heart-icon">
            <p class="tituloItem">Peep Toe Cinta De Tornozelo Antiderrapante Ocasional Sapatos</p>
            <h3>R$ 200,00</h3>
        </div>


    </section>



</body>
</html>