﻿
@page
@model IndexModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Império Feminino</title>
    <link rel="stylesheet" href="/css/editarperfil.css" />
</head>
<body>

    <div class="container8">
        <div class="profile-info">
            <img src="~/imagens/mulherperfil.jpg" alt="User Photo">
            <h2>Marisa Pontes</h2>
            <p>marisapontes97@gmail.com</p>
            <p>Desde 15 de Setembro de 2022</p>
            <button class="update-button">Editar Foto</button>
        </div>

        <div class="edit-profile">
            <h3>Gerenciar minha conta</h3></br>

            <form>
                <div class="form-group">
                    <label for="full-name">Nome Completo</label>
                    <input type="text" id="full-name" value="Marisa Pontes">
                </div>

                <div class="form-group">
                    <label for="username">Nome de usuário</label>
                    <input type="text" id="username" value="maripontes">
                </div>

                <div class="form-group">
                    <label for="password">Senha</label>
                    <input type="password" id="password" value="*******">
                </div>

                <div class="form-group">
                    <label for="confirm-password">Numero do cartão</label>
                    <input type="text" id="card" value="55** **** **** **90">
                </div>

                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" value="marisapontes97@gmail.com">
                </div>

                <div class="form-group">
                    <label for="confirm-email">Número de telefone</label>
                    <input type="text" id="confirm-number" value="71 96532-9874">
                </div>

                <button class="update-button">Alterar</button>

                </form>
        </div>
            
    </div>
    <br />
    <br />
</body>

</html> 