﻿
@page
@model IndexModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Império Feminino</title>
    <link rel="stylesheet" href="/css/site.css" />
</head>
<body>
    <div class="container7">
        <div class="profile-info">
            <img src="avatar1.jpg" alt="User Photo">
            <h2>Coco & Lola</h2>
            <p>coco&lolaofc@gmail.com</p>
            <p>Desde 10 de Novembro de 2023</p>
            <button>Editar Foto</button>
        </div>
        <div class="edit-profile">
            <h3>Gerenciar minha conta</h3></br>
            <div class="form-group">
                <label for="full-name">Nome da Empresa</label>
                <input type="text" id="full-name" value="Coco & Lola">
            </div>
            <div class="form-group">
                <label for="username">Endereço</label>
                <input type="text" id="username">
            </div>
            <div class="form-group">
                <label for="password">Senha</label>
                <input type="password" id="password">
            </div>
            <div class="form-group">
                <label for="confirm-password">Numero do cartão</label>
                <input type="text" id="card" value="554 9874 12* 85*">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" value="coco&lola@gmail.com">
            </div>
            <div class="form-group">
                <label for="confirm-email">Número de telefone</label>
                <input type="email" id="confirm-email" value="71 5622-9568">
            </div>
            <button class="update-button">Alterar</button>
            <a href="#">Criar conta pessoal ></a>
        </div>
    </div>

</body>

</html> 