
@page
@model IndexModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Império Feminino</title>
    <link rel="stylesheet" href="/css/escolhacadastro.css" />
</head>
<body>

    <div class="container4">
        <h1>Deseja cadastrar-se como:</h1>

        <div class="cards-container">

            <div class="cards">
                <h3>Empresa</h3>
                <a href="/CadastroEmpresa">
                    <img src="~/imagens/empresa.png" alt="Foto do Usuário 1" class="foto">
                </a>
            </div>

            <div class="cards">
                <h3>Cliente</h3>
                <a href="/CadastroCliente">
                    <img src="~/imagens/cliente.jpg" alt="Foto do Usuário 2" class="foto">
                </a>
            </div>

        </div>
    </div>
   
</body>

</html>