﻿
@page
@model IndexModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Império Feminino</title>
    <link rel="stylesheet" href="/css/site.css" />
</head>
<body>
    <nav class="quemsomos">
        <section class="historia">
            <div class="container">
                <div class="coluna">
                    <h2>Quem somos</h2>
    <p>
        Fundada em 2022, a Império Feminino nasceu com a missão de empoderar mulheres chefes de família e mães solo, proporcionando-lhes as ferramentas e o suporte necessários para alcançar a independência financeira.
        Nosso objetivo é criar um ambiente onde essas mulheres possam desenvolver suas habilidades, adquirir novos conhecimentos e trocar experiências, fortalecendo-se mutuamente.
    </p>

    <p>
        Na Império Feminino, acreditamos que a independência financeira é um passo crucial para a liberdade e a dignidade de cada mulher.
        Estamos comprometidos em construir uma comunidade solidária e inclusiva, onde cada mulher possa encontrar apoio e inspiração para superar desafios e alcançar seus objetivos. Junte-se a nós e faça parte dessa transformação!
    </p>

                </div>


                <div class="coluna">
                    <img src="~/imagens/moçainicio3.png" alt="moça" />
                </div>
            </div>
        </section>

    </nav>


    <div class="patrocinador">

        <div class="parceria">
            <img src="~/imagens/patrocinador.jfif" alt="publi" />
        </div>

        <div class="parceria">
            <img src="~/imagens/patrocinador2.jfif" alt="publi" />
        </div>
        <div class="parceria">
            <img src="~/imagens/patrocinador3.jfif" alt="publi" />
        </div>

    </div>

</body>

</html> 