﻿
@page
@model IndexModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Império Feminino</title>
    <link rel="stylesheet" href="/css/site.css" />
</head>
<body>

    <div id="carouselExampleDark" class="carousel carousel-dark slide">

        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
                <img src="~/imagens/banner.png" class="d-block w-100" alt="...">
            </div>
        </div>

    </div>

    <nav class="quemsomos">

        <section class="historia">
            <div class="container1">


                <div class="coluna">
                    <img src="~/imagens/silhuetainicio.png" alt="moça" />
                </div>


                <div class="coluna">
                    <h2>Quem somos?</h2><br />
                    <p>
                        Fundada em 2022, a Império Feminino nasceu com a missão de empoderar mulheres chefes de família e mães solo, proporcionando-lhes as ferramentas e o suporte necessários para alcançar a independência financeira.
                        Nosso compromisso é oferecer uma plataforma onde essas mulheres possam promover seus negócios, expandir suas oportunidades e acessar uma rede de apoio que as incentive a prosperar.
                    </p>


                    <p>
                        Na Império Feminino, acreditamos que a independência financeira é um passo crucial para a liberdade e a dignidade de cada mulher.
                        Estamos comprometidos em construir uma comunidade solidária e inclusiva, onde cada mulher possa encontrar apoio e inspiração para superar desafios e alcançar seus objetivos. Junte-se a nós e faça parte dessa transformação!
                    </p>
                </div>
            </div>
        </section>
    </nav>


    <nav class="objetivo">

        <section class="history">
            <div class="container1">

                <div class="coluna">
                    <h2>Nosso objetivo</h2><br />
                    <p>
                        Temos como objetivo principal proporcionar uma plataforma acessível e confiável para mulheres empreendedoras cadastrarem suas lojas e venderem seus produtos. Focado em apoiar negócios gerenciados por mulheres, o Império Feminino oferece um espaço onde as usuárias podem expor seus produtos de diversas categorias, como moda, acessórios, joias e confeitaria.
                    </p>

                    <p>
                        Além disso, o site também permite que compradores interessados se cadastrem, naveguem pelas lojas e adquiram produtos de forma segura e prática, conectando consumidores a empreendedoras e fortalecendo o comércio digital entre mulheres.
                    </p>
                </div>

                <div class="coluna">
                    <img src="~/imagens/computadorinicio.png" alt="moça" />
                </div>
            </div>
        </section>
    </nav>


    <div class="rainhas">
        <h2>Nossas Rainhas</h2> <br /> <br />
        <div id="carouselExample" class="carousel slide">

            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="~/imagens/Elisangela Freitas.png" class="d-block w-100" alt="...">
                </div>

                <div class="carousel-item">
                    <img src="~/imagens/Lorena Cardoso.png" class="d-block w-100" alt="...">
                </div>

            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>

            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>

        </div>
    </div>
    


        <br /> <br /> <br /> <br /> <br />


    <div class="container2">
        <h2 class="titulo">Nossos Parceiros</h2> <br />
        <div class="patrocinadores">


            <div class="patrocinador">
                <img src="~/imagens/1.png" alt="Patrocinador 1">
                <p>Pretas no Topo</p>
            </div>


            <div class="patrocinador">
                <img src="~/imagens/3.png" alt="Patrocinador 2">
                <p>Banco Conquista</p>
            </div>


            <div class="patrocinador">
                <img src="~/imagens/2.png" alt="Patrocinador 3">
                <p>Renova</p>
            </div>


            <div class="patrocinador">
                <img src="~/imagens/4.png" alt="Patrocinador 4">
                <p>RataBank</p>
            </div>
        </div>
        
    </div>

</body>

</html> 