﻿
@page
@model IndexModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Carros</title>
    <link rel="stylesheet" href="/css/site.css" />
</head>
<body>
    <div class="inicio">

        <h2>Seja a chefe do seu próprio destino!</h2>

        <div class="moça">
            <img src="~/imagens/moçainicio3.png" alt="moça" />
        </div>

        <a href="/lojas">
            <button class="botao" type="button">Procurar lojas</button>
        </a>
    </div>
   
   
</body>

</html> 