﻿
@page
@model IndexModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Carros</title>
    <link rel="stylesheet" href="/css/site.css" />
</head>
<body>
    <h1>Seja a chefe do seu próprio destino!</h1>
   
   
</body>

</html> 