﻿
@page
@model IndexModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Império Feminino</title>
    <link rel="stylesheet" href="/css/Login1.css" />
</head>
<body>

    <div class="container8">
        <h1>Bem-vinda(o) de volta!</h1>
        <form action="#" method="post">
            <div class="input-group">
                <label for="username">Usuário</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="input-group">
                <label for="password">Senha</label>
                <input type="password" id="password" name="password" required>
            </div>

            <button type="submit" class="btn">Entrar</button>

        </form>
        <div class="separator">
            <span>ou</span>
        </div>
        <div class="social-login">
            <button class="btn-google">Entrar com Google</button>
        </div>
        <div class="register-link">
            <p>Não tem uma conta? <a href="/EscolhaCadastro">Criar conta aqui</a></p>
        </div>
    </div>

</body>

</html> 