﻿
@page
@model IndexModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Carros</title>
    <link rel="stylesheet" href="/css/site.css" />
</head>
<body>
    
    <div class="lojas">

        <div className='button'>
            <form class="d-flex" role="search">
                <input class="pesquisar" type="search" placeholder="O que deseja hoje?" aria-label="Search"></input>
                <button class="procurar" type="button">Procurar</button>
            </form>
        </div>

        <section class="gallery">
            <div class="gallery-row">

                <div>
                    <img src="~/imagens/roupa.jpg" alt="foto" />
                    <p>Vestuário</p>
                </div>
            

                <div>
                    <img src="~/imagens/produtos2.jpg" alt="foto" />
                    <p>Beleza</p>
                </div>

                <div>
                    <img src="~/imagens/doce.jpg" alt="foto" />
                    <p>Doces</p>
                </div>

                <div>
                    <img src="~/imagens/calçado.jpeg" alt="foto" />
                    <p>Calçado</p>
                </div>

                <div>
                    <img src="~/imagens/joias.jpg" alt="foto" />
                    <p>Jóias</p>
                </div>

                <div>
                    <img src="~/imagens/restaurante2.jpg" alt="foto" />
                    <p>Restaurantes</p>
                </div>
            </div>
        </section>

        

</body>

</html> 