﻿
@page
@model IndexModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Império Feminino</title>
    <link rel="stylesheet" href="/css/lojas.css" />
</head>
<body>
    
    <div class="lojas">

        <section class="gallery">
            <div class="gallery-row">

                <div>
                    <a href="/Vestuario">
                        <img src="~/imagens/roupa.jpg" alt="foto" />
                    </a>
                    <p>Vestuário</p>
                </div>
            

                <div>
                    <img src="~/imagens/belezaa.jpg" alt="foto" class="loja-ajuste" />
                    <p>Beleza</p>
                </div>

                <div>
                    <img src="~/imagens/doce.jpg" alt="foto" />
                    <p>Doces</p>
                </div>

                <div>
                    <a href="/calcados">
                        <img src="~/imagens/shoess.jpg" alt="foto" />
                    </a>
                    
                    <p>Calçado</p>
                </div>

                <div>
                    <img src="~/imagens/joias.jpg" alt="foto" />
                    <p>Jóias</p>
                </div>

                <div>
                    <img src="~/imagens/restaurante2.jpg" alt="foto" class="loja-ajuste"/>
                    <p>Restaurantes</p>
                </div>
            </div>
        </section>

</body>

</html> 