﻿
@page
@model IndexModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Império Feminino</title>
    <link rel="stylesheet" href="/css/site.css" />
</head>
<body>

    <header2 class="header2">
        <div class="container9">
            <img src="~/imagens/logopeamostrado.png" alt="Logo da Loja Delicada de Sapatos" class="logope">
            <h1>Pé Amostrado</h1>
        </div>
    </header2>

    <main>
        <section id="sobre">
            <h2>Bem-vinda!</h2>
            <p>
                Sou Darlene Rebouças, tenho 39 anos, nasci em Salvador-Ba e sou a fundadora do Pé Amostrado, uma marca de calçados artesanais em crochê, que nasceu em abril de 2024. 
            </p><br />

            <p>
                Todas as peças são produzidas manualmente, utilizando solados em borracha (que podem ser recicladas para novas criações), linhas de crochê ecológicas, botões da casca do coco e muita criatividade. Costumo dizer que é um verdadeiro abraço nos pés.
            </p><br />

            <p>
                As sandálias e sapatos Pé Amostrado proporcionam conforto, autenticidade e exclusividade. As peças são criadas a partir da composição de cores escolhidas por cada cliente, tem uma média de valores entre R$109 e R$169 e o meu público é agênero adulto e infantil.
            </p><br />

            <p>Bora se amostrar por aí?</p>
        </section>

        <section id="produtos">
            <h2>Produtos em Destaque</h2>

            <div class="produto">
                <img src="~/imagens/sapato1.jpg" alt="Sapato Elegante">
                <h4>Gladiadora Amostrada</h4>
                <p>R$ 109,90</p>
            </div>

            <div class="produto">
                <img src="~/imagens/sapato2.jpg" alt="Sapato Casual">
                <h4>Básica mas nem tanto</h4>
                <p>R$ 129,90</p>
            </div>

            <div class="produto">
                <img src="~/imagens/sapato3.jpg" alt="Sandália Estilosa">
                <h4>Tiradinha Amostrada</h4>
                <p>R$ 129,90</p>
            </div>

            <div class="produto">
                <img src="~/imagens/sapato4.jpg" alt="Sandália Estilosa">
                <h4> Rita Amostrada</h4>
                <p>R$ 149,90</p>
            </div>

            <div class="produto">
                <img src="~/imagens/sapato5.jpg" alt="Sandália Estilosa">
                <h4>Botinha Amostrada</h4>
                <p>R$ 169,90</p>
            </div>

            <div class="produto">
                <img src="~/imagens/sapato6.jpg" alt="Sandália Estilosa">
                <h4>Pelô</h4>
                <p>R$ 149,90</p>
            </div>
        </section>

        <section id="contato">
            <h2>Contato</h2>
            <p>Para mais informações, entre em contato pelo <a href="https://www.instagram.com/peamostrado?igsh=MWM1NDN2enN2Zm15ag%3D%3D&utm_source=qr">Instagram</a>!</p>

        </section>
    </main>

</body>

</html>

