﻿
@page
@model IndexModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Império Feminino</title>
    <link rel="stylesheet" href="/css/site.css" />
</head>
<body>

    <main class="container9">
        <section class="container-acima">
            
                <div class="perfil">
                    <img class="imagem" src="avatar1.jpg">
                    <div class="texto">
                        <h2>Olá, Coco & Lola!</h2>
                    </div>
                    <a href="EditarPerfilEmpresa" class="editar">Editar Perfil</a>
                </div>
        </section>
        <section class="container-baixo">
            <h3 class="titulo">Gerenciamento</h3>
            <div class="icons">
                <span>📞</span>
                <span>📦</span>
                <span>📤</span>
                <span>🔄</span>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>ID Produto</th>
                        <th>Código</th>
                        <th>Modo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>585</td>
                        <td>585864</td>
                        <td>Enviado</td>
                    </tr>
                    <tr>
                        <td>698</td>
                        <td>321486</td>
                        <td>Entregue</td>
                    </tr>   
                    <tr>
                        <td>126</td>
                        <td>945861</td>
                        <td>Enviado</td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section class="container-b">
            <h3 class="titulo">Seguindo</h3>
            <div class="seguindo-items">
                <div class="galeria">
                    <div class="imagem-container">
                        <img src="https://via.placeholder.com/150" alt="Imagem 1">
                        <div class="textogaleria">1</div>
                    </div>
                    <div class="imagem-container">
                        <img src="https://via.placeholder.com/150" alt="Imagem 2">
                        <div class="textogaleira">2</div>
                    </div>
                    <div class="imagem-container">
                        <img src="https://via.placeholder.com/150" alt="Imagem 3">
                        <div class="textogaleria">3</div>
                    </div>
                </div>
            </div>
        </section>
    </main>

</body>

</html> 