﻿
@page
@model IndexModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Império Feminino</title>
    <link rel="stylesheet" href="/css/perfil.css" />
</head>
<body>

    <main class="container7">

        <section class="container-acima">
                <div class="perfil">
                    <img class="imagem" src="~/imagens/mulherperfil.jpg">
                    <div class="ola">
                        <h2>Olá, Marina Pontes!</h2>
                    </div>
                    <a href="/EditarPerfilEmpresa" class="editar">Editar Perfil</a>
                </div>
        </section>

        <section class="container-baixo">
            <h3 class="titulo">Meus Pedidos</h3>
            <div class="container-b-b">
                <div class="status">
                    <div>
                        <h4>Não pago</h4>
                    </div>
                    <div>
                        <h4>Processando</h4>
                    </div>
                    <div>
                        <h4>Enviado</h4>
                    </div>
                    <div>
                        <h4>Comentar</h4>
                    </div>
                    <div>
                        <h4>Devolução</h4>
                    </div>
                </div>

                <div class="p">
                    <hr>
                    <div class="pedido-info">
                        <div>
                            <p>27 Março 2024 20:39:15</p>
                            <img src="~/imagens/sapatoverde.png" alt="Produto 1">
                        </div>
                        <div>
                            <p>10 itens</p>
                        </div>
                        <div>
                            <p>R$213,18</p>
                        </div>
                        <div>
                            <p>Cancelado</p>
                        </div>
                        <div>
                            <a href="#" class="detalhes">Detalhes Do Pedido</a>
                        </div>
                    </div>
                </div>
                <hr>

                <div class="p">
                    <div class="pedido-info">
                        <div>
                            <p>11 Novembro 2023 16:46:20</p>
                            <img src="~/imagens/vestidoverde.png" alt="Produto 2">
                        </div>
                        <div>
                            <p>3 itens</p>
                        </div>
                        <div>
                            <p>R$15,50</p>
                        </div>
                        <div>
                            <p>Entregue</p>
                        </div>
                        <div>
                            <a href="#" class="detalhes">Detalhes Do Pedido</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="container-b">
            <h3 class="titulo">Seguindo</h3>
            <div class="seguindo-items">

                <div class="galerias">
                    <div class="imagem-container">
                        <img src="~/imagens/boutique.jpg" alt="Imagem 1">
                    </div>
                    <div class="imagem-container">
                        <a href="/PeAmostrado">
                            <img src="~/imagens/logopeamostrado.png" alt="Imagem 2">
                        </a>
                    </div>
                    <div class="imagem-container">
                        <img src="~/imagens/uzze.jpg" alt="Imagem 3">
                    </div>
                </div>
            </div>
        </section>

    </main>

</body>

</html> 