﻿
@page
@model IndexModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Império Feminino</title>
    <link rel="stylesheet" href="/css/privacidade.css" />
</head>
<body>

        <h1>Termos e Condições de Uso</h1>
    <h1>Império Feminino</h1>
        <p><strong>Última atualização: 30/09/2024</strong></p>
        <p>Bem-vinda ao Império Feminino! Estes Termos e Condições de Uso regem o uso do nosso site e de todos os serviços associados. Ao acessar ou usar o site, você concorda em cumprir os seguintes termos e condições.</p>

        <ol>
            <li>
                <strong>Aceitação dos Termos:</strong> Ao criar uma conta no Império Feminino, você concorda com os presentes Termos e Condições de Uso. Caso não concorde com os termos, não deverá utilizar o site.
            </li>
            <li>
                <strong>Descrição dos Serviços:</strong> O Império Feminino é uma plataforma que permite às empreendedoras mulheres criar e gerenciar suas lojas virtuais para a venda de produtos. Também oferecemos uma interface para clientes diversos comprarem os produtos dessas lojas.
            </li>
            <li>
                <strong>Gratuidade Inicial e Cobranças Futuros:</strong> Atualmente, o cadastro de lojas e o uso da plataforma Império Feminino são completamente gratuitos. No entanto, o Império Feminino reserva-se o direito de implementar uma taxa periódica ou mensal para a manutenção das lojas e serviços, após um período inicial gratuito. Os detalhes e valores dessas taxas serão devidamente comunicados com antecedência, e você terá a opção de continuar utilizando o serviço mediante o pagamento da taxa ou encerrar sua conta sem custo adicional.
            </li>
            <li>
                <strong>Cadastro e Conta de Usuária:</strong>
                <ul>
                    <li>Para criar uma loja no Império Feminino, você deve fornecer informações precisas e completas.</li>
                    <li>É sua responsabilidade manter suas informações de login seguras e confidenciais.</li>
                    <li>O Império Feminino não se responsabiliza por qualquer atividade realizada através de sua conta.</li>
                </ul>
            </li>
            <li>
                <strong>Regras para Venda de Produtos:</strong>
                <ul>
                    <li>As vendedoras devem seguir todas as leis e regulamentações aplicáveis à venda de seus produtos.</li>
                    <li>O Império Feminino se reserva o direito de remover produtos que infrinjam nossas políticas ou qualquer legislação em vigor.</li>
                </ul>
            </li>
            <li>
                <strong>Obrigações dos Clientes:</strong>
                <ul>
                    <li>Os clientes concordam em fornecer informações corretas no momento da compra e realizar os pagamentos conforme descrito.</li>
                    <li>O Império Feminino não se responsabiliza pela qualidade ou entrega dos produtos vendidos nas lojas. Cada vendedora é responsável pelos produtos oferecidos.</li>
                </ul>
            </li>
            <li>
                <strong>Responsabilidade Limitada:</strong> O Império Feminino atua apenas como uma plataforma intermediária, conectando vendedoras e clientes. Não garantimos a qualidade, segurança ou legalidade dos produtos oferecidos nas lojas, nem a capacidade das vendedoras de cumprir suas obrigações.
            </li>
            <li>
                <strong>Alterações nos Termos:</strong> O Império Feminino pode alterar estes Termos e Condições a qualquer momento. As mudanças serão comunicadas por meio do site ou por e-mail. Seu uso contínuo da plataforma após as alterações constitui aceitação dos novos termos.
            </li>
            <li>
                <strong>Cancelamento de Conta:</strong> Você pode encerrar sua conta a qualquer momento. Caso o Império Feminino implemente taxas de manutenção e você não deseje continuar utilizando os serviços, poderá optar por fechar sua loja sem quaisquer custos adicionais.
            </li>
            <li>
                <strong>Contato:</strong> Caso tenha dúvidas sobre estes Termos e Condições, entre em contato conosco por meio do imperiofeminino@gmail.com ou pela página de contato no site.
            </li>
        </ol>

        <p>Estes Termos e Condições visam garantir o bom funcionamento e a confiança na plataforma Império Feminino. Agradecemos por fazer parte desta comunidade de mulheres empreendedoras!</p>

</body>

</html> 