﻿
@page
@model IndexModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Carros</title>
    <link rel="stylesheet" href="/css/comunidade.css" />
</head>
<body>

    <div class="forum">

        <h1>Bem-vinda à Nossa Comunidade!</h1>
        <br />

        <div class="paragrafo">
            <p>
                Um espaço livre para contarmos e ouvirmos experiências, um lugar sem preconceito e julgamento. SEJAM MUITO BEM-VINDAS! Estamos muito felizes em ter você aqui!
            </p>
            <p>
                Nossa comunidade é um espaço acolhedor e colaborativo, dedicado a mulheres que compartilham a paixão e o desejo de serem donas do próprio negócio. Acreditamos no poder da união, onde cada experiência, ideia e aprendizado contribuem para o crescimento de todas.
            </p>
            <p>
                Nossa página é mais do que um lugar para troca de informações – é um ponto de encontro para mulheres empreendedoras que desejam crescer juntas. Seja você iniciante ou experiente, aqui encontrará apoio, inspiração e oportunidades para compartilhar seu desenvolvimento.
            </p>
            <p>
                Acreditamos que, ao unirmos nossas forças e conhecimentos, podemos alcançar ainda mais. Junte-se à nossa jornada de empoderamento e colaboração nesta plataforma que valoriza o poder feminino.
            </p>
            <p>
                Aqui, cada história é única, e sua voz será sempre ouvida.
            </p>
        </div>
        


        </br></br>
        <h1>Depoimentos</h1>
        <br />
        <div class="card-container">

            <div class="card">
                <img src="~/imagens/perfil.jfif" alt="foto" />
                <h2 class="user">Carolina Santos</h2>
                <p class="education">Dona da CarolDoces</p>
                <p class="bio">“Este site é incrível e superou todas as minhas expectativas! Desde que comecei a usá-lo, minha produtividade aumentou e meus clientes estão mais satisfeitos.” </p>
            </div>

            <div class="card">
                <img src="~/imagens/perfil2.jfif" alt="foto" />
                <h2 class="user">Flora Vieira</h2>
                <p class="education">Dona de barraca de churros</p>
                <p class="bio"> “Uso sempre este site e recomendo fortemente! Ele facilita muito o meu trabalho e me ajuda a gerenciar minha barraca de churros de forma eficiente.”</p>
            </div>

            <div class="card">
                <img src="~/imagens/perfil3.jfif" alt="foto" />
                <h2 class="user">Sabrina Lima</h2>
                <p class="education">Vendedora de jóias</p>
                <p class="bio">“A qualidade e utilidade deste site são impressionantes! Ele me ajuda a organizar minhas vendas de joias e a alcançar mais clientes do que nunca.”</p>
            </div>

        </div>
    </div>
    </br>

    <div class="container">
        <a href="https://chat.whatsapp.com/HPciEfTc5KV5CApuWDv208">
            <button class="botao2" type="button">Participe da Comunidade</button>
        </a>
    </div>
    
</body>

</html> 