﻿
@page
@model IndexModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Carros</title>
    <link rel="stylesheet" href="/css/site.css" />
</head>
<body>

    <div class="forum">

        <h1>Comunidade</h1>

        </br></br>
        <div class="card-container">

            <div class="card">
                <img src="~/imagens/perfil.jfif" alt="foto" />
                <h2 class="user">Ana Clara Souza</h2>
                <p class="education">Medicina - Universidade Federal da Bahia (UFBA)</p>
                <p class="bio">.</p>
            </div>

            <div class="card">
                <img src="~/imagens/perfil2.jfif" alt="foto" />
                <h2 class="user">Isabel Cecília</h2>
                <p class="education">Medicina Pediátrica - Universidade do Estado da Bahia (UNEB)</p>
                <p class="bio">..</p>
            </div>

            <div class="card">
                <img src="~/imagens/perfil3.jfif" alt="foto" />
                <h2 class="user">Ana Clara Souza</h2>
                <p class="education">Medicina - Universidade Federal da Bahia (UFBA)</p>
                <p class="bio">...</p>
            </div>

        </div>
    </div>
    </br>

    <a href="https://chat.whatsapp.com/JuNvP82uc3t0UYWBb0iEHm">
        <button class="botao" type="button">Participe da Comunidade</button>
    </a>
</body>

</html> 