﻿
@page
@model IndexModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Carros</title>
    <link rel="stylesheet" href="/css/site.css" />
</head>
<body>

    <div class="forum">

        <h1>Comunidade</h1>

        </br></br>
        <div class="card-container">

            <div class="card">
                <img src="~/imagens/perfil.jfif" alt="foto" />
                <h2 class="user">Carolina Santos</h2>
                <p class="education">Done da CarolDoces</p>
                <p class="bio">“Este site é incrível e superou todas as minhas expectativas! Desde que comecei a usá-lo, minha produtividade aumentou e meus clientes estão mais satisfeitos.” </p>
            </div>

            <div class="card">
                <img src="~/imagens/perfil2.jfif" alt="foto" />
                <h2 class="user">Flora Vieira</h2>
                <p class="education">Dona de barraca de churros</p>
                <p class="bio"> “Uso sempre este site e recomendo fortemente! Ele facilita muito o meu trabalho e me ajuda a gerenciar minha barraca de churros de forma eficiente.”</p>
            </div>

            <div class="card">
                <img src="~/imagens/perfil3.jfif" alt="foto" />
                <h2 class="user">Sabrina Lima</h2>
                <p class="education">Vendedora de jóias</p>
                <p class="bio">“A qualidade e utilidade deste site são impressionantes! Ele me ajuda a organizar minhas vendas de joias e a alcançar mais clientes do que nunca.”</p>
            </div>

        </div>
    </div>
    </br>

    <a href="https://chat.whatsapp.com/HPciEfTc5KV5CApuWDv208">
        <button class="botao" type="button">Participe da Comunidade</button>
    </a>
</body>

</html> 