﻿
@page
@model IndexModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Carros</title>
    <link rel="stylesheet" href="/css/site.css" />
</head>
<body>

    <div class="forum">

        <h1>Comunidade</h1>

        </br></br>
        <div class="card-container">

            <div class="card">
                <img src="~/imagens/perfil.jfif" alt="foto" />
                <h2 class="user">Carolina Santos</h2>
                <p class="education">Done da CarolDoces</p>
                <p class="bio">"AAAAAAAAAAAAAAAAAAAAAAA" </p>
            </div>

            <div class="card">
                <img src="~/imagens/perfil2.jfif" alt="foto" />
                <h2 class="user">Dona Flor</h2>
                <p class="education">Dona de barraca de acarajé</p>
                <p class="bio">"AAAAAAAAAAAAAAAAAAAA"</p>
            </div>

            <div class="card">
                <img src="~/imagens/perfil3.jfif" alt="foto" />
                <h2 class="user">Sabrina Lima</h2>
                <p class="education">Vendedora de jóias</p>
                <p class="bio">"AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"</p>
            </div>

        </div>
    </div>
    </br>

    <a href="https://chat.whatsapp.com/HPciEfTc5KV5CApuWDv208">
        <button class="botao" type="button">Participe da Comunidade</button>
    </a>
</body>

</html> 