@page
@model IndexModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calçados</title>
    <link rel="stylesheet" href="/css/produtos.css" />

    <style>
        /* CSS para a Avaliação (Estrelas) */

        .rating {
            display: flex;
            align-content: center;
            padding: 30px;
            background-color: #f9f9f9;
        }

            .rating h3 {
                align-items: center;
            }

        .stars {
            display: flex;
        }

            .stars span {
                font-size: 40px;
                color: gold;
            }




        /* CSS para a Seção de Comentários */
        .comments-section {
            margin-top: 30px;
        }

            .comments-section h3 {
                font-size: 1.2em;
                margin-bottom: 15px;
                display: flex;
                left: 150px;
            }

        .existing-comments {
            margin-bottom: 20px;
        }

            .existing-comments p {
                background-color: #f9f9f9;
                padding: 10px;
                border-radius: 5px;
                margin-bottom: 10px;
                font-size: 0.95em;
            }

            .existing-comments strong {
                color: #333;
                font-weight: bold;
            }

        .add-comment h4 {
            font-size: 1em;
            margin-bottom: 10px;
        }

        .add-comment textarea {
            width: 100%;
            height: 80px;
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #ddd;
            font-size: 0.95em;
            margin-bottom: 10px;
            resize: vertical;
        }

        .add-comment .submit-comment {
            background-color: #28a745;
            color: white;
            border: none;
            padding: 10px 15px;
            border-radius: 5px;
            cursor: pointer;
        }

            .add-comment .submit-comment:hover {
                background-color: #218838;
            }

        /* CSS PARA TALVEZ VOCÊ GOSTE*/
        .complete-look-section {
            text-align: left;
            margin-top: 20px;
        }

            .complete-look-section h3 {
                font-size: 1.5em;
                margin-bottom: 15px;
            }

        .product-list {
            display: flex;
            justify-content: space-between;
        }

        .product-item {
            text-align: center;
            background-color: #f9f9f9;
            padding: 10px;
            border-radius: 8px;
        }

            .product-item img {
                width: 150px;
                height: auto;
                border-radius: 8px;
            }


        .product-name {
            font-size: 15px;
            color: #333;
        }

        .product-price {
            font-size: 1.1em;
            font-weight: bold;
            color: #000;
        }



        /CSS PARA DESCRIÇÃO/



        .header {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
        }

        .ref {
            font-weight: bold;
        }

        .total-look {
            font-weight: bold;
        }

        .description {
            margin-bottom: 10px;
        }

        .accordion-item {
            border-top: 1px solid #ddd;
        }

        .accordion-label {
            background-color: #fff;
            cursor: pointer;
            padding: 10px;
            border-bottom: 1px solid #ddd;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-weight: bold;
        }

            .accordion-label::after {
                content: "\002B"; /* Plus symbol */
                font-size: 18px;
            }

        input[type="checkbox"] {
            display: none;
        }

        .accordion-content {
            display: none;
            padding: 10px;
            background-color: #fafafa;
            border-bottom: 1px solid #ddd;
        }

            .accordion-content h5 {
                position: relative;
                margin-right: 10px;
            }
        /* Quando o checkbox estiver marcado, exibe o conteúdo e altera o símbolo */
        input[type="checkbox"]:checked + .accordion-label + .accordion-content {
            display: block;
        }

        input[type="checkbox"]:checked + .accordion-label::after {
            content: "\2212"; /* Minus symbol */
        }

        .sobrelojaimgdesc {
            width: 50px;
            height: 50px;
            cursor: pointer;
            border: 2px solid transparent;
            border-radius: 4px;
            position: relative;
            float: left;
            margin-right: 10px;
        }

        .botoes-seguir-itens {
            display: flex;
            gap: 15px;
        }

        button {
            padding: 10px;
            border: none;
            cursor: pointer;
            font-size: 16px;
        }

        .follow {
            background-color: #28a745;
            color: #fff;
        }
    </style>
</head>
<body>
    <div class="product-details">
        <div class="image-container">
            <img src="~/imagens/topverao.jfif" alt="Imagem do Produto" class="product-image">

            <section class="rating">
                <h3>Avaliação dos Clientes</h3>
                <br />


            </section>

            <div class="comments-section">

                <div class="existing-comments">
                    <p><strong>Maria:</strong> Adorei esse top, super confortável e estiloso!</p>
                    <p><strong>Ana:</strong> O tecido é de ótima qualidade, recomendo!</p>
                </div>

                <div class="add-comment">

                    <textarea name="comentario" id="comentario" rows="4" placeholder="Escreva seu comentário aqui..."></textarea>
                    <button type="submit" class="btn submit-comment">Enviar Comentário</button>
                </div>
            </div>
        </div>

        <div class="details">
            <h1>Top Verão</h1>

            <div class="stars">
                <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
            </div>
            <p class="price">R$ 55,00</p>
            <p class="description">
                Este elegante top de verão combina conforto e estilo, sendo a escolha perfeita para dias ensolarados. Com seu design moderno e ombros de fora, ele valoriza a silhueta feminina e proporciona uma sensação de leveza e frescor, ideal para ocasiões casuais ou eventos ao ar livre.
            </p>

            <div class="form-group">
                <label>Cores disponíveis:</label>
                <div class="color-options">
                    <label class="color-option">
                        <input type="radio" name="cor" value="verde" checked>
                        <img src="https://via.placeholder.com/50/008000/FFFFFF?text=" alt="Verde">
                    </label>

                    <label class="color-option">
                        <input type="radio" name="cor" value="vermelho">
                        <img src="https://via.placeholder.com/50/FF0000/FFFFFF?text=" alt="Vermelho">
                    </label>

                    <label class="color-option">
                        <input type="radio" name="cor" value="azul">
                        <img src="https://via.placeholder.com/50/0000FF/FFFFFF?text=" alt="Azul">
                    </label>

                    <label class="color-option">
                        <input type="radio" name="cor" value="preto">
                        <img src="https://via.placeholder.com/50/000000/FFFFFF?text=" alt="Preto">
                    </label>
                </div>
            </div>

            <div class="form-group">
                <label for="tamanho">Tamanho:</label>
                <select id="tamanho" name="tamanho">
                    <option value="p">P</option>
                    <option value="m">M</option>
                    <option value="g">G</option>
                    <option value="gg">GG</option>
                </select>
            </div>

            <div class="form-group">
                <label for="quantidade">Quantidade:</label>
                <input type="number" id="quantidade" name="quantidade" min="1" value="1">
            </div>

            <div class="button-group">
                <button type="submit" class="btn add-to-cart">Adicionar ao Carrinho</button>

                <a href="https://www.asaas.com/c/oyfqgpm2hjwk1uk4" class="btn buy-now">Comprar</a>
            </div>

            <!-- TALVEZ VOCE GOSTE -->

            <div class="complete-look-section">
                <h3>Você também vai gostar</h3>
                <div class="product-list">
                    <div class="product-item">
                        <img src="~/imagens/SAIAA.jpg" alt="Striped knit jumper">
                        <p class="product-name">Saia comum</p>
                        <p class="product-price">R$ 35.00</p>
                    </div>
                    <div class="product-item">
                        <img src="~/imagens/roupabebe.jpg" alt="Baggy jeans with turn-up">
                        <p class="product-name">Roupinha bebê coelhinho</p>
                        <p class="product-price">R$ 99.00</p>
                    </div>
                    <div class="product-item">
                        <img src="~/imagens/vestidobranco.jpg" alt="Lace-up shoes">
                        <p class="product-name">Vestido branco terreiro</p>
                        <p class="product-price">R$ 100.00</p>
                    </div>
                </div>
            </div>


            <!--  DESCRIÇÃO-->
            <div class="container">
                <div class="header">
                    <div class="total-look">Material e Detalhes</div>
                    <div class="ref">Ref 7252319</div>

                </div>
                <div class="accordion">
                    <div class="accordion-item">
                        <input type="checkbox" id="item1">
                        <label class="accordion-label" for="item1">Composição</label>
                        <div class="accordion-content">
                            <p>Composição: 	94% Poliamida, 6% Elastano.</p>
                            <p>Material: Tecido de malha.</p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <input type="checkbox" id="item2">
                        <label class="accordion-label" for="item2">Detalhes da Peça</label>
                        <div class="accordion-content">
                            <p>
                                Detalhes:	Assimétrico, Enrugado, Zíper<br />
                                Gola:	Ombro à ombro<br />
                                Estilo:	Casual<br />
                                Forma da bainha:	Assimétrico<br />
                                Cor:	Verde Menta<br />
                                Estampa:	Simples<br />
                                Comprimento da Manga:	Manga Curta<br />
                                Comprimento:	Cropped<br />
                                Caimento da peça:	Slim Fit<br />
                                Tecido:	Elasticidade Baixa<br />
                                Instruções de manutenção:	Lavagem de máquina ou lavagem profissional a seco<br />
                                Translúcido:	Não<br />
                                Composição do forro:	95% Poliéster, 5% Elastano<br />
                            </p>
                        </div>
                    </div>

                </div>
                <div class="accordion-item">
                    <input type="checkbox" id="item4">
                    <label class="accordion-label" for="item4">Sobre a loja</label>
                    <div class="accordion-content">
                        <img src="~/imagens/boutique.jpg" class="sobrelojaimgdesc" alt="logoboutique">
                        <h5>Alice Boutique</h5>
                        <p>Alice Boutique é uma loja eclética que celebra estilos vibrantes e histórias únicas, proporcionando uma experiência de moda diversificada e inspiradora.</p>
                        <div class="botoes-seguir-itens">
                            <button class="follow">+ Seguir</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</body>
</html>