@page
@model IndexModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calçados</title>
    <link rel="stylesheet" href="/css/produtos.css" />

    <style>
        /* CSS para a Avaliação (Estrelas) */

        .rating {
            display: flex;
            align-content: center;
            padding: 30px;
            background-color: #f9f9f9;
        }

            .rating h3 {
                align-items: center;
            }

        .stars {
            display: flex;
        }

            .stars span {
                font-size: 40px;
                color: gold;
            }


        /* CSS para a Seção de Comentários */
        .comments-section {
            margin-top: 30px;
        }

            .comments-section h3 {
                font-size: 1.2em;
                margin-bottom: 15px;
                display: flex;
                left: 150px;
            }

        .existing-comments {
            margin-bottom: 20px;
        }

            .existing-comments p {
                background-color: #f9f9f9;
                padding: 10px;
                border-radius: 5px;
                margin-bottom: 10px;
                font-size: 0.95em;
            }

            .existing-comments strong {
                color: #333;
                font-weight: bold;
            }

        .add-comment h4 {
            font-size: 1em;
            margin-bottom: 10px;
        }

        .add-comment textarea {
            width: 100%;
            height: 80px;
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #ddd;
            font-size: 0.95em;
            margin-bottom: 10px;
            resize: vertical;
        }

        .add-comment .submit-comment {
            background-color: #28a745;
            color: white;
            border: none;
            padding: 10px 15px;
            border-radius: 5px;
            cursor: pointer;
        }

            .add-comment .submit-comment:hover {
                background-color: #218838;
            }

        /* CSS PARA TALVEZ VOCÊ GOSTE*/
        .complete-look-section {
            text-align: left;
            margin-top: 20px;
        }

            .complete-look-section h3 {
                font-size: 1.5em;
                margin-bottom: 15px;
            }

        .product-list {
            display: flex;
            justify-content: space-between;
        }

        .product-item {
            text-align: center;
            background-color: #f9f9f9;
            padding: 10px;
            border-radius: 8px;
        }

            .product-item img {
                width: 150px;
                height: auto;
                border-radius: 8px;
            }


        .product-name {
            font-size: 15px;
            color: #333;
        }

        .product-price {
            font-size: 1.1em;
            font-weight: bold;
            color: #000;
        }



        /*CSS PARA DESCRIÇÃO*/



        .header {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
        }

        .ref {
            font-weight: bold;
        }

        .total-look {
            font-weight: bold;
        }

        .description {
            margin-bottom: 10px;
        }

        .accordion-item {
            border-top: 1px solid #ddd;
        }

        .accordion-label {
            background-color: #fff;
            cursor: pointer;
            padding: 10px;
            border-bottom: 1px solid #ddd;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-weight: bold;
        }

            .accordion-label::after {
                content: "\002B"; /* Plus symbol */
                font-size: 18px;
            }

        input[type="checkbox"] {
            display: none;
        }

        .accordion-content {
            display: none;
            padding: 10px;
            background-color: #fafafa;
            border-bottom: 1px solid #ddd;
        }

            .accordion-content h5 {
                position: relative;
                margin-right: 10px;
            }
        /* Quando o checkbox estiver marcado, exibe o conteúdo e altera o símbolo */
        input[type="checkbox"]:checked + .accordion-label + .accordion-content {
            display: block;
        }

        input[type="checkbox"]:checked + .accordion-label::after {
            content: "\2212"; /* Minus symbol */
        }

        .sobrelojaimgdesc {
            width: 50px;
            height: 50px;
            cursor: pointer;
            border: 2px solid transparent;
            border-radius: 4px;
            position: relative;
            float: left;
            margin-right: 10px;
        }

        .botoes-seguir-itens {
            display: flex;
            gap: 15px;
        }

        button {
            padding: 10px;
            border: none;
            cursor: pointer;
            font-size: 16px;
        }

        .follow {
            background-color: #28a745;
            color: #fff;
        }
    </style>
</head>
<body>
    <div class="product-details">
        <div class="image-container">
            <img src="~/imagens/sapato1.png" alt="Imagem do Produto" class="product-image">

            <section class="rating">
                <h3>Avaliação dos Clientes</h3>
                <br />

            </section>

            <div class="comments-section">

                <div class="existing-comments">
                    <p><strong>Joana:</strong> Adorei essa gladiadora, super confortável e estilosa!</p>
                    <p><strong>Mônica:</strong> Todos os detalhes são lindos e é de ótima qualidade, recomendo!</p>
                </div>

                <div class="add-comment">

                    <textarea name="comentario" id="comentario" rows="4" placeholder="Escreva seu comentário aqui..."></textarea>
                    <button type="submit" class="btn submit-comment">Enviar Comentário</button>
                </div>
            </div>
        </div>

        <div class="details">
            <h1>Gladiadora Amostrada</h1>

            <div class="stars">
                <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
            </div>
            <p class="price">R$ 109,00</p>
            <p class="description">
                Destaque-se com nossa gladiadora de crochê artesanal, feita à mão com fios de alta qualidade na cor amarela mostarda. Seu design único combina estilo e conforto, com tiras ajustáveis que envolvem o tornozelo, proporcionando um ajuste perfeito.
            </p>


            <div class="form-group">
                <label for="tamanho">Tamanho:</label>
                <select id="tamanho" name="tamanho">
                    <option value="p">34</option>
                    <option value="m">36</option>
                    <option value="g">38</option>
                    <option value="gg">40</option>
                </select>
            </div>

            <div class="form-group">
                <label for="quantidade">Quantidade:</label>
                <input type="number" id="quantidade" name="quantidade" min="1" value="1">
            </div>

            <div class="button-group">
                <button type="submit" class="btn add-to-cart">Adicionar ao Carrinho</button>

                <a href="https://www.asaas.com/c/70pmp4l22322yflk" class="btn buy-now">Comprar</a>
            </div>

            <!-- TALVEZ VOCE GOSTE -->

            <div class="complete-look-section">
                <h3>Você também vai gostar</h3>
                <div class="product-list">
                    <div class="product-item">
                        <img src="~/imagens/sapato3.png" alt="Striped knit jumper">
                        <p class="product-name">Tiradinha Amostrada</p>
                        <p class="product-price">R$ 129.90</p>
                    </div>
                    <div class="product-item">
                        <img src="~/imagens/sapato4.png" alt="Baggy jeans with turn-up">
                        <p class="product-name">Rita Amostrada</p>
                        <p class="product-price">R$ 149.90</p>
                    </div>
                    <div class="product-item">
                        <img src="~/imagens/sapato5.png" alt="Lace-up shoes">
                        <p class="product-name">Botinha Amostrada</p>
                        <p class="product-price">R$ 169.90</p>
                    </div>
                </div>
            </div>


            <!--  DESCRIÇÃO-->
            <div class="container">
                <div class="header">
                    <div class="total-look">Material e Detalhes</div>
                    <div class="ref">Ref 1352319</div>

                </div>
                <div class="accordion">
                    <div class="accordion-item">
                        <input type="checkbox" id="item1">
                        <label class="accordion-label" for="item1">Composição</label>
                        <div class="accordion-content">
                            <p>Composição: 	94% Poliamida, 6% Elastano.</p>
                            <p>Material: Tecido de malha.</p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <input type="checkbox" id="item2">
                        <label class="accordion-label" for="item2">Detalhes da Peça</label>
                        <div class="accordion-content">
                            <p>
                                Artesanal, Crochê, Fechamento com tiras<br /> Material: Fio de algodão<br /> Estilo: Casual, Boho<br /> Cor: Amarelo Mostarda<br /> Fechamento: Amarração no tornozelo<br /> Altura do Salto: Flat (sem salto)<br /> Solado: Emborrachado e antiderrapante<br /> Ocasião: Dia a dia, Verão, Praia<br /> Caimento: Ajustável com tiras<br /> Instruções de manutenção: Limpeza com pano úmido ou lavagem à mão<br /> Translúcido: Não<br /> Composição: 100% Algodão (parte superior), Solado em borracha<br />
                            </p>
                        </div>
                    </div>

                </div>
                <div class="accordion-item">
                    <input type="checkbox" id="item4">
                    <label class="accordion-label" for="item4">Sobre a loja</label>
                    <div class="accordion-content">
                        <a href="/PeAmostrado">
                            <img src="~/imagens/peamostrado.jpg" class="sobrelojaimgdesc" alt="logoboutique">
                        </a>
                        
                        <h5>Pé Amostrado</h5>
                        <p>Pé Amostrado é uma loja eclética que celebra estilos vibrantes e histórias únicas, proporcionando uma experiência de moda diversificada e inspiradora.</p>
                        <div class="botoes-seguir-itens">
                            <button class="follow">+ Seguir</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</body>
</html>