@page
@model IndexModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Império Feminino</title>
    <link rel="stylesheet" href="/css/quem.css" />
</head>
<body>

    <h1>Bem-vinda ao Império Feminino!</h1>

    <div class="mission">
        <p>Nós somos uma plataforma inovadora e dedicada a empoderar mulheres empreendedoras a criar e gerenciar suas lojas virtuais de maneira eficiente e intuitiva. Nossa missão é proporcionar um espaço acolhedor e inspirador, onde cada mulher possa expressar plenamente sua criatividade e talento, transformando suas ideias em negócios de sucesso. Acreditamos que cada mulher tem o potencial para brilhar e conquistar seu lugar no mercado, e estamos aqui para oferecer todo o suporte necessário nessa jornada empreendedora.</p>

        <h3>Nossa Missão</h3>
        <p>
            Nosso objetivo é apoiar e promover o empreendedorismo feminino de maneira abrangente e eficaz, oferecendo uma ampla gama de ferramentas e recursos que capacitem as mulheres a alcançarem o sucesso em seus negócios. Acreditamos que, ao fornecer o suporte necessário, podemos criar um ambiente propício para o crescimento e desenvolvimento de iniciativas lideradas por mulheres, ajudando-as a superar desafios e a transformar suas paixões em empreendimentos prósperos. Estamos comprometidos em ser um catalisador para a mudança, incentivando cada mulher a se destacar e realizar seus sonhos empresariais.
        </p>
    </div>

    <h3>Nosso Time</h3>
    <div class="team">
        <div class="member">
            <img src="~/imagens/amanda.png" alt="Nome da Integrante 1">
            <p>Amanda Pomponet</p>
        </div>
        <div class="member">
            <img src="~/imagens/anaila2.png" alt="Nome da Integrante 2">
            <p>Anaíla Matos</p>
        </div>
        <div class="member">
            <img src="~/imagens/fortuna.png" alt="Nome da Integrante 3">
            <p>Bianca Fortuna</p>
        </div>
        <div class="member">
            <img src="~/imagens/souza.png" alt="Nome da Integrante 4">
            <p>Bianca Souza
        </div>
        <div class="member">
            <img src="~/imagens/rocha.png" alt="Nome da Integrante 5">
            <p>Gabriel Rocha
        </div>
        <div class="member">
            <img src="~/imagens/gomes.png" alt="Nome da Integrante 6">
            <p>Isabelle Gomes
        </div>
        <div class="member">
            <img src="~/imagens/marielle.png" alt="Nome da Integrante 7">
            <p>Marielle Santos
        </div>
        <div class="member">
            <img src="~/imagens/stella.png" alt="Nome da Integrante 8">
            <p>Stella Caroline</p>
        </div>
    </div>


</body>

</html>