@page
@model IndexModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Império Feminino</title>
    <link rel="stylesheet" href="/css/quem.css" />
</head>
<body>

    <h1>Bem-vinda ao Império Feminino!</h1>

    <div class="mission">
        <p>Nós somos uma plataforma dedicada a empoderar mulheres empreendedoras a criar e gerenciar suas lojas virtuais. Nossa missão é proporcionar um espaço onde cada mulher possa expressar sua criatividade e talento.</p>

        <h3>Nossa Missão</h3>
        <p>Nosso objetivo é apoiar e promover o empreendedorismo feminino, oferecendo ferramentas e recursos que permitam às mulheres terem sucesso em seus negócios.</p>
    </div>

    <h3>Nosso Time</h3>
    <div class="team">
        <div class="member">
            <img src="~/imagens/amanda.png" alt="Nome da Integrante 1">
            <p>Amanda Pomponet</p>
        </div>
        <div class="member">
            <img src="~/imagens/anaíla.png" alt="Nome da Integrante 2">
            <p>Anaíla Matos</p>
        </div>
        <div class="member">
            <img src="~/imagens/fortuna.png" alt="Nome da Integrante 3">
            <p>Bianca Fortuna</p>
        </div>
        <div class="member">
            <img src="~/imagens/souza.png" alt="Nome da Integrante 4">
            <p>Bianca Souza
        </div>
        <div class="member">
            <img src="link_da_foto5" alt="Nome da Integrante 5">
            <p>Gabriel Rocha
        </div>
        <div class="member">
            <img src="link_da_foto6" alt="Nome da Integrante 6">
            <p>Isabelle Gomes
        </div>
        <div class="member">
            <img src="link_da_foto7" alt="Nome da Integrante 7">
            <p>Marielle Santos
        </div>
        <div class="member">
            <img src="link_da_foto8" alt="Nome da Integrante 8">
            <p>Stella Caroline</p>
        </div>
    </div>


</body>

</html>