@page
@model IndexModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Império Feminino</title>
    <link rel="stylesheet" href="/css/quem.css" />
</head>
<body>

        <h1>Quem Somos</h1>
        <p>Bem-vinda ao Império Feminino! Nós somos uma plataforma dedicada a empoderar mulheres empreendedoras a criar e gerenciar suas lojas virtuais. Nossa missão é proporcionar um espaço onde cada mulher possa expressar sua criatividade e talento.</p>

        <h2>Nossa Missão</h2>
        <p>Nosso objetivo é apoiar e promover o empreendedorismo feminino, oferecendo ferramentas e recursos que permitam às mulheres terem sucesso em seus negócios.</p>

        <h2>Nossa Equipe</h2>
        <div class="team">
            <div class="team-member">
                <img src="https://via.placeholder.com/300x180" alt="Membro 1">
                <h3>Amanda Santos</h3>
            </div>
            <div class="team-member">
                <img src="https://via.placeholder.com/300x180" alt="Membro 2">
                <h3>Anaíla Matos</h3>
            </div>
            <div class="team-member">
                <img src="https://via.placeholder.com/300x180" alt="Membro 3">
                <h3>Bianca Fortuna</h3>
            </div>
            <div class="team-member">
                <img src="https://via.placeholder.com/300x180" alt="Membro 4">
                <h3>Bianca Souza</h3>
            </div>
            <div class="team-member">
                <img src="https://via.placeholder.com/300x180" alt="Membro 5">
                <h3>Gabriel Rocha</h3>
            </div>
            <div class="team-member">
                <img src="https://via.placeholder.com/300x180" alt="Membro 6">
                <h3>Isabelle Gomes</h3>
            </div>
            <div class="team-member">
                <img src="https://via.placeholder.com/300x180" alt="Membro 7">
                <h3>Marielle Santos</h3>
            </div>
            <div class="team-member">
                <img src="https://via.placeholder.com/300x180" alt="Membro 8">
                <h3>Stella Pimentel</h3>
            </div>
        </div>

        <h2>Junte-se a Nós!</h2>
        <p>Se você é uma mulher empreendedora ou deseja saber mais sobre como participar da nossa comunidade, entre em contato conosco!</p>



</body>

</html>