@page
@model IndexModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vestuario</title>
    <link rel="stylesheet" href="/css/vestuario.css" />
</head>

<body>
         <div class="banner">
            <img src="~/imagens/bannerpromo.jpg" alt="...">
         </div> 
   

    <br />
    <br />
    <h3>Navegue pelas categorias</h3>

    <div class="container-categorias">
        <form class="cat">
            <div class="categoria">
                <a href="/Privacy">
                    <img src="~/imagens/womanc.jpg" class="womanc" alt="...">
                </a>
                <p>Feminino</p>
            </div>

            <div class="categoria">
                <a href="/">
                    <img src="~/imagens/malec.jpg" class="womanc" alt="...">
                </a>
                <p>Masculino</p>
            </div>

            <div class="categoria">
                <a href="/">
                    <img src="~/imagens/babyc.jpg" class="womanc" alt="...">
                </a>
                <p>Infantil</p>
            </div>

            <div class="categoria">
                <a href="/">
                    <img src="~/imagens/beachc.jpg" class="womanc" alt="...">
                </a>
                <p>Moda praia</p>
            </div>

            <div class="categoria">
                <a href="/">
                    <img src="~/imagens/sportsc.jpg" class="womanc" alt="...">
                </a>
                <p>Esportivo</p>
            </div>
        </form>
    </div>
    <br />
    <br />
    <div class="container">
        <h3>Novas lojas para você!</h3>
        <div class="patrocinadores">


            <div class="patrocinador">
                <img src="~/imagens/flordeie.jpg" alt="Patrocinador 1">
                <p>Flor de Iemanjá</p>
            </div>


            <div class="patrocinador">
                <img src="~/imagens/boutique.jpg" alt="Patrocinador 2">
                <p>Alice Boutique</p>
            </div>


            <div class="patrocinador">
                <img src="~/imagens/misselegant.jpg" alt="Patrocinador 3">
                <p>Miss Elegant</p>
            </div>


            <div class="patrocinador">
                <img src="~/imagens/afropower.jfif" alt="Patrocinador 4">
                <p>AfroPower</p>
            </div>
        </div>
    </div>
    <br />
    <br />

    <h3>Em alta</h3>
    <section class="marketplace-section">
        <div class="itens-marketplace">

            <div class="item">
                <img src="~/imagens/tricovest.jfif" alt="Produto 1">
                <img src="~/imagens/maheart.png" alt="heart" class="heart-icon">
                <p class="tituloItem">Top sem alças feminino Tricô</p>
                <h3>R$ 70,00</h3>
            </div>

            <div class="item">
                <a href="/produto1">
                    <img src="~/imagens/topverao.jfif" alt="Produto 2">
                </a>
                <img src="~/imagens/maheart.png" alt="heart" class="heart-icon">
                <p class="tituloItem">Top de verão verde com ombros de fora</p>
                <h3>R$ 85,00</h3>
            </div>

            <div class="item">
                <img src="~/imagens/camivest.jfif" alt="Produto 3">
                <img src="~/imagens/maheart.png" alt="heart" class="heart-icon">
                <p class="tituloItem">Vestido de Cami Tubo</p>
                <h3>R$ 200,00</h3>
            </div>

            <div class="item">
                <img src="~/imagens/SAIAA.jpg" alt="Produto 1">
                <img src="~/imagens/maheart.png" alt="heart" class="heart-icon">
                <p class="tituloItem">saia comum</p>
                <h3>R$ 90,00</h3>
            </div>

            <div class="item">
                <img src="~/imagens/roupabebe.jpg" alt="Produto 2">
                <img src="~/imagens/maheart.png" alt="heart" class="heart-icon">
                <p class="tituloItem">Roupa de bebê coelhinho</p>
                <h3>R$ 85,00</h3>
            </div>

            <div class="item">
                <img src="~/imagens/vestidobranco.jpg" alt="Produto 3">
                <img src="~/imagens/maheart.png" alt="heart" class="heart-icon">
                <p class="tituloItem">Vestido branco</p>
                <h3>R$ 200,00</h3>
            </div>
        </div>
    </section>



</body>
</html>