
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Mostra</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <link href="~/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>

    <header>
            <nav class="navbar">

                <div class="logo">
                    <a href="/Index">
                        <img src="~/imagens/logo - Cópia.png" alt="moça" />
                    </a>

                </div>

                    <ul>
                        <li class="nav-item">
                             <a class="nav-link" asp-area="" asp-page="/Index">Home</a>
                        </li>

                        <li class="nav-item">

                            <a class="nav-link" asp-area="" asp-page="/Privacy">Comunidade</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Lojas">Lojas</a>
                        </li>
                    </ul>
                    
            <div class="search-bar">
                                      <input type="text" placeholder="Insira sua busca">
                                       <button><i class="fas fa-search"></i></button>
                                 </div>
                    
                     

                      <a href="/EscolhaCadastro">
                           <button class="botaoH" type="button">Login</button>
                      </a>

            <!--
                        <a href="/PerfilEmpresa">
              <div class="profile-image">
               <img src="~/imagens/amani.jpg" alt="moça" />
               </div>
            </a>-->
                    
    </nav>
    </header>
    

    
    <div class="container">
        <main role="main" class="pb-3">
@RenderBody()
        </main>
    </div>


    <footer class="border-top footer text-muted">

                    <div className='itens'>
                        <nav className="menu-baixo">

                            <ul className="menu-nav">

                                <li class="footer-item">
                                    <a class="nav-link" asp-area="" asp-page="/QuemSomos2">Quem Somos</a>
                                </li>

                                <li class="footer-item">
                                    <a class="nav-link" asp-area="" asp-page="/Privacy">Comunidade</a>
                                </li>

                                <li class="footer-item">
                                    <a class="nav-link" asp-area="" asp-page="#">Contato: imperiofeminino@gmail.com</a>
                                </li>

                            </ul>
                        </nav>
                    </div>

            </footer>
    
    
    

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>