<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Mostra</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="menu">
            <h1>Império </br> Feminino</h1>
            <nav>
                <ul>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-page="/Index">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-page="/Privacy">Comunidade</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-page="/">Lojas</a>
                    </li>


                </ul>
                <div class="search-bar">
                    <input type="text" placeholder="Insira sua busca">
                    <button><i class="fas fa-search"></i></button>
                </div>

                <div class="profile-image">
                    <img src="~/imagens/mulherperfil.jpg" alt="moça" />
                </div>
            </nav>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">

            <div class="logo">
                <img src="~/imagens/logo.png" alt="moça" />
            </div>


            <div className='itens'>
                <nav className="menu-baixo">

                    <ul className="menu-nav">

                        <li class="footer-item">
                            <a class="nav-link" asp-area="" asp-page="/">Quem Somos</a>
                        </li>

                        <li class="footer-item">
                            <a class="nav-link" asp-area="" asp-page="/Privacy">Comunidade</a>
                        </li>

                        <li class="footer-item">
                            <a class="nav-link" asp-area="" asp-page="/">Fale Conosco</a>
                        </li>

                    </ul>
                </nav>
            </div>

    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>