<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Mostra</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <link href="~/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>

    <footer class="border-top footer text-muted">

        <div class="logo">
            <img src="~/imagens/logo.png" alt="moça" />
        </div>


        <div className='itens'>
            <nav className="menu-baixo">

                <ul className="menu-nav">

                    <li class="footer-item">
                        <a class="nav-link" asp-area="" asp-page="/">Quem Somos</a>
                    </li>

                    <li class="footer-item">
                        <a class="nav-link" asp-area="" asp-page="/Privacy">Comunidade</a>
                    </li>

                    <li class="footer-item">
                        <a class="nav-link" asp-area="" asp-page="/Faleconosco">Fale Conosco</a>
                    </li>

                </ul>
            </nav>
        </div>

    </footer>
</body>
</html>