/* Estilos globais */
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: #f4f3e6;
    overflow-x: hidden;
}

/* Navbar */
.full-width-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #5d0703; /* Cor de fundo */
    color: white;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

    /* Logo */
    .full-width-navbar a img {
        height: 130px;
        margin-left: 180px;
    }

/* Links de navegação */
.nav-links {
    display: flex;
    gap: 30px;
}

    .nav-links a {
        color: white;
        text-decoration: none;
        font-size: 1em;
        transition: color 0.3s;
    }

        .nav-links a:hover {
            color: #ddd; /* Cor dos links ao passar o mouse */
        }

/* Barra de pesquisa */
.search-bar {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 5px;
    border-radius: 20px;
    margin-right: 20px;
}

    .search-bar input[type="text"] {
        border: none;
        outline: none;
        padding: 5px 10px;
        border-radius: 20px;
        font-size: 1em;
    }

    .search-bar button {
        background: none;
        border: none;
        color: #4CAF50;
        cursor: pointer;
        font-size: 1.2em;
        padding: 0 10px;
    }

/* Botão de login */
.botaoH {
    background-color: white;
    color: #4CAF50;
    border: 2px solid white;
    padding: 8px 20px;
    border-radius: 20px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

    .botaoH:hover {
        background-color: #4CAF50;
        color: white;
    }


/* Ajuste de responsividade para dispositivos menores */
@media (max-width: 768px) {
    .full-width-navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-links, .search-bar {
        margin-top: 10px;
        width: 100%;
        justify-content: center;
    }
}

.gallery {
    max-width: 1200px;
    margin: 64px auto 0;
    padding: 0 24px;
    margin-bottom: 20px;
    padding-top: 100px;
}

    .gallery h2 {
        text-align: center;
        padding-bottom: 10px;
        color: #5d0703;
    }

.gallery-row {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

    .gallery-row div {
        width: 350px;
    }

    .gallery-row img {
        width: 100%;
        border-radius: 8px;
        margin-bottom: 16px;
    }

.gallery p {
    text-align: center;
    font-weight: bold;
}

.loja-ajuste {
    display: flex;
    height: 350px;
    height: 350px;
}

/*RESPONSIVIDADE*/

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
}
