* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
}

header2 {
    background-color: #fff;
    padding: 20px 0;
    text-align: center;
    border-bottom: 2px solid #e3e3e3;
}

.logope {
    width: 200px;
}

.container {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    padding: 40px 0;
}

.about {
    background-color: #fff;
    padding: 50px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
}

h1, h3 {
    font-size: 2.4rem;
    color: #5d0703;
    text-align: center;
    margin-bottom: 20px;
}

.about-content {
    text-align: justify;
    color: #555;
    font-size: 1.2rem;
    line-height: 1.8;
    max-width: 800px;
    margin: 0 auto;
}

    .about-content p {
        margin-bottom: 20px;
    }

    .about-content strong {
        color: #5d0703;
        font-size: 1.3rem;
    }

/* Estilo para a seção de produtos */
.produto {
    display: inline-block;
    width: 30%;
    text-align: center;
    margin: 1%;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 5px;
    transition: box-shadow 0.3s;
}

    .produto img {
        width: 200px;
        border-radius: 5px;
    }

    .produto:hover {
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }

.contact {
    background-color: #fff;
    padding: 50px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

    .contact p {
        font-size: 1.1rem;
        color: #666;
        margin-bottom: 10px;
    }
