.container9 {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

/* Estilos para o header */
.header2 {
    text-align: center;
    padding: 40px 0;
}

.logope {
    max-width: 300px;
    margin-bottom: 10px;
}

.header2 h1 {
    font-size: 2.5em;
    font-weight: lighter;
    color: #6B2E38;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

    section contato {
        border-top: 1px solid #e0e0e0;
    }

.produto {
    display: inline-block;
    width: 30%;
    text-align: center;
    margin: 1%;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 5px;
    transition: box-shadow 0.3s;
}

    .produto img {
        width: 200px;
        border-radius: 5px;
    }

    .produto:hover {
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }

