h1 {
    padding: 30px;
    text-align: center;
    color: #5d0703;
    font-size: 2.5em;
    font-weight: 300;
}

.team {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: 20px 0;
}

.member {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

    .member:hover {
        transform: scale(1.05);
        box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
    }

    .member img {
        width: 100%;
        height: auto;
        border-bottom: 4px solid #5d0703;
    }

    .member p {
        padding: 15px 0;
        font-weight: bold;
        color: #4a4a4a;
    }
h3 {
    color: #5d0703;
    margin: 20px 0 10px;
    font-weight: 500;
}

.mission {
    text-align: justify;
    margin: 40px 0;
    font-size: 1.2em;
    line-height: 1.6;
}

    .mission h3 {
        color: #5d0703;
        margin: 20px 0 10px;
        font-weight: 500;
        border-top: 2px solid #ccc;
    }

    .mission p {
        margin: 10px 0;
    }

    .mission .intro {
        font-weight: bold;
    }

/*RESPONSIVIDADE*/

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
}