.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #2c3e50;
    margin-bottom: 20px;
}

h2 {
    color: #2c3e50;
    margin-top: 30px;
}

p {
    margin-bottom: 15px;
}

.team {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.team-member {
    text-align: center;
    margin: 10px;
    flex: 1 1 200px; /* Flexível, mas mínimo de 200px */
}

    .team-member img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
