body {
    overflow: hidden;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    top: 50px;
    width: 80%;
    position: relative;
    align-items: center;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.navbar {
    background-color: #6B2E38;
    width: 100%;
    position: relative;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
}

.nav-item {
    color: #f4eeed;
}

h1 {
    text-align: center;
    color: #6B2E38;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}


th {
    background-color: #f2f2f2;
}

