body {
    font-family: Arial, sans-serif;
    background-color: #f4f3e6;
}

.botaoH {
    color: #000000;
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    margin: auto;
    width: 100px;
    height: 50px;
    border-radius: 8px;
}


/*NAVBAR*/

header {
    background-color: #5d0703;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.logo img {
    width: 100px;
}

.navbar {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    color: #6B2E38;
    align-items: center;
    justify-content: space-around;
    justify-content: space-between;
}

    .menu h1 {
        color: #f4eeed;
        text-decoration: none;
    }



nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: red;
}

    nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
    }

    nav li {
        margin-left: 20px;
    }

    nav a {
        text-decoration: none;
    }

.nav-link {
    color: #f4eeed;
}

.search-bar {
    margin-left: 20px;
    position: relative;
    width: 300px;
}

    .search-bar input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 50px;
        font-size: 15px;
    }

    .search-bar button {
        position: absolute;
        top: 50%;
        transform: translateY(50%);
        right: 10px;
        background: none;
        border: none;
        font-size: 20px;
        cursor: pointer;
    }

.profile-image img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 50px;
}

.login {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin-left: 50px;
}

.search-bar{
    margin-right: 10px;
}

/*FOOTER*/

.footer {
    position: relative;
    background-color: #5d0703;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}


.itens {
    padding: 16px;
}

.menu-nav {
    list-style: none;
    float: left;
}

    .menu-nav li {
        position: relative;
        float: left;
    }

        .menu-nav li a {
            color: rgb(255, 255, 255);
            text-decoration: none;
            padding: 5px 10px;
            display: block;
        }

        .menu-nav li ul {
            border: 1px solid #c0c0c0;
            display: block;
            width: 150px;
        }

.nav nav-item {
    color: white;
}

