﻿
@page
@model IndexModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Império Feminino</title>
    <link rel="stylesheet" href="/css/site.css" />
</head>
<body>

    <div class="header">
        <h1>Bem-vinda, Coco&Lola!</h1>
        <p>Gerencie sua loja no Império Feminino</p>
    </div>

    <section class="dashboard">
        <div class="card">
            <h2>Meus Produtos</h2>
            <img src="~/imagens/produtos.png" alt="">
            <p>Gerencie seus produtos cadastrados, adicione ou edite informações.</p>
            <a href="/" class="button">Ver Produtos</a>
        </div>

        <div class="card">
            <h2>Pedidos</h2>
            <img src="~/imagens/pedidos.png" alt=""> <br />
            <p>Acompanhe os pedidos recebidos, status de entrega e pagamentos.</p>
            <a href="/" class="button">Ver Pedidos</a>
        </div>

        <div class="card">
            <h2>Notificações</h2>
            <img src="~/imagens/notificaçao.png" alt=""> <br />
            <p>Fique por dentro das atualizações e avisos importantes.</p>
            <a href="/" class="button">Ver Notificações</a>
        </div>

        <div class="card">
            <h2>Perfil da Loja</h2>
            <img src="~/imagens/empresaperfil.png" alt="">
            <p>Atualize as informações da sua loja, como nome, descrição e imagem.</p>
            <a href="/" class="button">Editar Perfil</a>
        </div>

        <div class="card">
            <h2>Estatísticas</h2>
            <img src="~/imagens/estatistica.png" alt=""> <br /> <br /> <br />
            <p>Veja o desempenho da sua loja, incluindo vendas e visitas.</p>
            <a href="/" class="button">Ver Estatísticas</a>
        </div>

        <div class="card">
            <h2>Nossa Comunidade</h2>
            <img src="~/imagens/comunidade.png" alt="">
            <p>Acesse nosso grupo do WhatsApp e troque experiências .</p>
            <a href="/Privacy" class="button">Entrar na Comunidade</a>
        </div>
    </section>

</body>

</html> 